<mat-card class="product-card">
    <a routerLink="shop/products/1">
        <img mat-card-image src="./assets/images/slides/slide-1-mobile.png" alt="Photo of a Shiba Inu">
    </a>
    <mat-card-content class="card-content">
        <a routerLink="shop/products/1">
            <mat-card-title>Brandix Drilling Machine DM2019KW4 4kW</mat-card-title>
        </a>
        <mat-card-subtitle>Makita</mat-card-subtitle>

        <div class="product-card_rating">
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon>star_half</mat-icon>
            <mat-icon>star_border</mat-icon>
            <div class="product-card__rating-legend"> 1349 Reviews</div>
        </div>

        <div class="product-card_prices">
            <ng-container>
                <span class="product-card_new-price">$3,199.00</span> {{' '}}
                <span class="product-card_old-price"></span>
            </ng-container>
        </div>
    </mat-card-content>
    <mat-card-actions class="card-actions">
        <button mat-button color="warn">Add To Cart</button>
        <div class="other-actions">
            <mat-icon>favorite_border</mat-icon>
            <mat-icon>compare</mat-icon>
        </div>
    </mat-card-actions>
</mat-card>