<div class="products-carousel">
    <div class="title">
        <h2>Featured Products</h2>
        <div class="actions">
            <mat-icon class="btn-action">arrow_back_ios</mat-icon>
            <mat-icon class="btn-action">arrow_forward_ios</mat-icon>
        </div>
    </div>
    <div class="categories">
        <ul class="category-list">
            <li><a routerLink="/">All</a></li>
            <li><a routerLink="/">Power Tools</a></li>
            <li><a routerLink="/">Hand Tools</a></li>
            <li><a routerLink="/">Plumbing</a></li>
        </ul>
    </div>
    <app-product-card></app-product-card>
</div>