.products-carousel {
  margin: 0 10px;
  margin-bottom: 40px;

  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .actions {
    display: flex;
    align-items: center;
    .btn-action {
      margin-left: 3px;
      font-size: 14px;
    }
  }
  .category-list {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    li {
      padding: 5px;
    }
    li:first-child {
      border: 1px solid #ccc;
      border-radius: 5px;
    }
  }
}
