<ul class="block-features">
    <mat-card class="block-features_item">
        <mat-card-header>
            <mat-card-title-group class="card-title-group">
                <mat-card-title>Free Shipping</mat-card-title>
                <mat-card-subtitle>For orders from $50</mat-card-subtitle>
                <img mat-card-image src="./assets/images/logos/logo_fullstore_mobile.png" alt="slsdkd" width="36"
                    height="45">
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
    </mat-card>
    <mat-card class="block-features_item">
        <mat-card-header>
            <mat-card-title-group class="card-title-group">
                <mat-card-title>Support 24/7</mat-card-title>
                <mat-card-subtitle>Call us anytime</mat-card-subtitle>
                <img mat-card-image src="./assets/images/logos/logo_fullstore_mobile.png" alt="slsdkd" width="36"
                    height="45">
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
    </mat-card>
    <mat-card class="block-features_item">
        <mat-card-header>
            <mat-card-title-group class="card-title-group">
                <mat-card-title>100% Safety</mat-card-title>
                <mat-card-subtitle>Only secure payments</mat-card-subtitle>
                <img mat-card-image src="./assets/images/logos/logo_fullstore_mobile.png" alt="slsdkd" width="36"
                    height="45">
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
    </mat-card>
    <mat-card class="block-features_item">
        <mat-card-header>
            <mat-card-title-group class="card-title-group">
                <mat-card-title>Hot offerts</mat-card-title>
                <mat-card-subtitle>Discounts up to 90%</mat-card-subtitle>
                <img mat-card-image src="./assets/images/logos/logo_fullstore_mobile.png" alt="slsdkd" width="36"
                    height="45">
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
    </mat-card>
</ul>